*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
h1{
    position: absolute;
}

#canvas{
    border: 1px solid black;
    width: 100vw;
    height: 100vh;
}

#picker{
    position: absolute;
    top:0%;
    right:0%;
    display:flex;
}
