*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
h1{
    position: absolute;
}


#picker{
    position: absolute;
    top:0%;
    right:0%;
    display:flex;
}
#canvasContainer {
    width: 100%;
    text-align:center;
 }
 
 canvas {
    display: inline-block;
    border: 1px solid black;
    max-width: 100%;
    
 }